{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
	<link type="text/css" href="{% static 'freedombooks_core/css/styles.css' %}" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include 'freedombooks_core/includes/nav.html' %}

{% if user.is_authenticated %}
        <form style="display:inline-block" method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button></form>
        <li><a href="{% url 'users:profile' %}">{{ user.username }}</a></li>
        {% if user.first_name %}
            <li class="last">{{ user.first_name }}</li>
        {% else %}
            <li class="last">Anon</li>
        {% endif %}
    {% else %}
    <li class="last"><a href="{% url 'users:login' %}">Sign In</a> | <a href="{% url 'users:register' %}">Sign Up</a></li>
    <li class="last">Anon</li>
    {% endif %}

{% block content %} {% endblock %}
</body>
</html>